In [18]:
import pandas as pd
import numpy as np
import seaborn as sns

# import 'Pandas' 
import pandas as pd 

# import 'Numpy' 
import numpy as np

# import subpackage of Matplotlib
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap

# import 'Seaborn' 
import seaborn as sns

# to suppress warnings 
from warnings import filterwarnings
filterwarnings('ignore')

# display all columns of the dataframe
pd.options.display.max_columns = None

# display all rows of the dataframe
#pd.options.display.max_rows = 50
 
# to display the float values upto 6 decimal places     
pd.options.display.float_format = '{:.6f}'.format

# import train-test split 
from sklearn.model_selection import train_test_split

# import various functions from statsmodels
#import statsmodels
#import statsmodels.api as sm

# import StandardScaler to perform scaling
from sklearn.preprocessing import StandardScaler ,MinMaxScaler

# import various functions from sklearn 
from sklearn import metrics
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import cohen_kappa_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_curve
from sklearn.metrics import accuracy_score

# import function to perform feature selection
from sklearn.feature_selection import RFE


# import various functions from sklearn
from sklearn.metrics import classification_report
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn import tree
from sklearn.model_selection import GridSearchCV

In [2]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import StackingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB

# import the XGBoost function for classification
from xgboost import XGBClassifier

In [4]:
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

In [5]:
print(df_train.shape)
print(df_test.shape)

(67463, 35)
(28913, 35)

## describing data set

In [6]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67463 entries, 0 to 67462
Data columns (total 35 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ID                            67463 non-null  int64
 1   Loan Amount                   67463 non-null  int64
 2   Funded Amount                 67463 non-null  int64
 3   Funded Amount Investor        67463 non-null  float64
 4   Term                          67463 non-null  int64
 5   Batch Enrolled                67463 non-null  object
 6   Interest Rate                 67463 non-null  float64
 7   Grade                         67463 non-null  object
 8   Sub Grade                     67463 non-null  object
 9   Employment Duration           67463 non-null  object
 10  Home Ownership                67463 non-null  float64
 11  Verification Status           67463 non-null  object
 12  Payment Plan                  67463 non-null  object
 13  Loan Title                    67463 non-null  object
 14  Debit to Income               67463 non-null  float64
 15  Delinquency - two years       67463 non-null  int64
 16  Inquires - six months         67463 non-null  int64
 17  Open Account                  67463 non-null  int64
 18  Public Record                 67463 non-null  int64
 19  Revolving Balance             67463 non-null  int64
 20  Revolving Utilities           67463 non-null  float64
 21  Total Accounts                67463 non-null  int64
 22  Initial List Status           67463 non-null  object
 23  Total Received Interest       67463 non-null  float64
 24  Total Received Late Fee       67463 non-null  float64
 25  Recoveries                    67463 non-null  float64
 26  Collection Recovery Fee       67463 non-null  float64
 27  Collection 12 months Medical  67463 non-null  int64
 28  Application Type              67463 non-null  object
 29  Last week Pay                 67463 non-null  int64
 30  Accounts Delinquent           67463 non-null  int64
 31  Total Collection Amount       67463 non-null  int64
 32  Total Current Balance         67463 non-null  int64
 33  Total Revolving Credit Limit  67463 non-null  int64
 34  Loan Status                   67463 non-null  int64
dtypes: float64(9), int64(17), object(9)
memory usage: 18.0+ MB

In [10]:
df_train.describe().T

,count,mean,std,min,25%,50%,75%,max
ID,67463.000000,25627607.746498,21091554.023733,1297933.000000,6570288.000000,17915646.000000,42715208.500000,72245779.000000
Loan Amount,67463.000000,16848.902776,8367.865726,1014.000000,10012.000000,16073.000000,22106.000000,35000.000000
Funded Amount,67463.000000,15770.599114,8150.992662,1014.000000,9266.500000,13042.000000,21793.000000,34999.000000
Funded Amount Investor,67463.000000,14621.799323,6785.345170,1114.590204,9831.684984,12793.682170,17807.594120,34999.746430
Term,67463.000000,58.173814,3.327441,36.000000,58.000000,59.000000,59.000000,59.000000
Interest Rate,67463.000000,11.846258,3.718629,5.320006,9.297147,11.377696,14.193533,27.182348
Home Ownership,67463.000000,80541.502522,45029.120366,14573.537170,51689.843335,69335.832680,94623.322785,406561.536400
Debit to Income,67463.000000,23.299241,8.451824,0.675299,16.756416,22.656658,30.048400,39.629862
Delinquency - two years,67463.000000,0.327127,0.800888,0.000000,0.000000,0.000000,0.000000,8.000000
Inquires - six months,67463.000000,0.145754,0.473291,0.000000,0.000000,0.000000,0.000000,5.000000
Open Account,67463.000000,14.266561,6.225060,2.000000,10.000000,13.000000,16.000000,37.000000
Public Record,67463.000000,0.081437,0.346606,0.000000,0.000000,0.000000,0.000000,4.000000
Revolving Balance,67463.000000,7699.342425,7836.148190,0.000000,2557.000000,5516.000000,10184.500000,116933.000000
Revolving Utilities,67463.000000,52.889443,22.539450,0.005172,38.658825,54.082334,69.177117,100.880050
Total Accounts,67463.000000,18.627929,8.319246,4.000000,13.000000,18.000000,23.000000,72.000000
Total Received Interest,67463.000000,2068.992542,2221.918745,4.736746,570.903814,1330.842771,2656.956837,14301.368310
Total Received Late Fee,67463.000000,1.143969,5.244365,0.000003,0.021114,0.043398,0.071884,42.618882
Recoveries,67463.000000,59.691578,357.026346,0.000036,1.629818,3.344524,5.453727,4354.467419
Collection Recovery Fee,67463.000000,1.125141,3.489885,0.000036,0.476259,0.780141,1.070566,166.833000
Collection 12 months Medical,67463.000000,0.021301,0.144385,0.000000,0.000000,0.000000,0.000000,1.000000
Last week Pay,67463.000000,71.163260,43.315845,0.000000,35.000000,68.000000,105.000000,161.000000
Accounts Delinquent,67463.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Total Collection Amount,67463.000000,146.467990,744.382233,1.000000,24.000000,36.000000,46.000000,16421.000000
Total Current Balance,67463.000000,159573.933638,139033.245565,617.000000,50379.000000,118369.000000,228375.000000,1177412.000000
Total Revolving Credit Limit,67463.000000,23123.005544,20916.699999,1000.000000,8155.500000,16733.000000,32146.500000,201169.000000
Loan Status,67463.000000,0.092510,0.289747,0.000000,0.000000,0.000000,0.000000,1.000000

In [12]:
df_train.isnull().sum()/len(df_test)

# no null values.

ID                             0.000000
Loan Amount                    0.000000
Funded Amount                  0.000000
Funded Amount Investor         0.000000
Term                           0.000000
Batch Enrolled                 0.000000
Interest Rate                  0.000000
Grade                          0.000000
Sub Grade                      0.000000
Employment Duration            0.000000
Home Ownership                 0.000000
Verification Status            0.000000
Payment Plan                   0.000000
Loan Title                     0.000000
Debit to Income                0.000000
Delinquency - two years        0.000000
Inquires - six months          0.000000
Open Account                   0.000000
Public Record                  0.000000
Revolving Balance              0.000000
Revolving Utilities            0.000000
Total Accounts                 0.000000
Initial List Status            0.000000
Total Received Interest        0.000000
Total Received Late Fee        0.000000
Recoveries                     0.000000
Collection Recovery Fee        0.000000
Collection 12 months Medical   0.000000
Application Type               0.000000
Last week Pay                  0.000000
Accounts Delinquent            0.000000
Total Collection Amount        0.000000
Total Current Balance          0.000000
Total Revolving Credit Limit   0.000000
Loan Status                    0.000000
dtype: float64

In [13]:
df_test.head()

,ID,Loan Amount,Funded Amount,Funded Amount Investor,Term,Batch Enrolled,Interest Rate,Grade,Sub Grade,Employment Duration,...,Recoveries,Collection Recovery Fee,Collection 12 months Medical,Application Type,Last week Pay,Accounts Delinquent,Total Collection Amount,Total Current Balance,Total Revolving Credit Limit,Loan Status
0,56492997,17120,10365,16025.082690,59,BAT2575549,12.163926,A,D1,RENT,...,8.425776,0.731797,0,INDIVIDUAL,135,0,24,475442,4364,NaN
1,22540813,7133,11650,12615.795600,59,BAT2833642,6.564296,B,E3,MORTGAGE,...,6.157008,0.992918,0,INDIVIDUAL,56,0,1,72412,2573,NaN
2,9862181,25291,25825,11621.280830,59,BAT1761981,14.729900,A,C3,MORTGAGE,...,5.705077,0.281580,0,INDIVIDUAL,3,0,26,284825,19676,NaN
3,10097822,30781,9664,15375.823510,59,BAT5341619,10.523767,A,A2,RENT,...,2.469688,0.959162,0,INDIVIDUAL,21,0,32,40842,7226,NaN
4,47771809,8878,9419,7176.647582,58,BAT4694572,9.997013,C,B3,OWN,...,2.127835,0.402315,0,INDIVIDUAL,104,0,33,90825,26145,NaN

In [20]:
df_cat = df_train.select_dtypes(exclude= np.number)
df_num = df_train.select_dtypes(include= np.number)

In [21]:
print(df_cat.shape)
print(df_num.shape)

(67463, 9)
(67463, 26)

In [22]:
df_num.head()

,ID,Loan Amount,Funded Amount,Funded Amount Investor,Term,Interest Rate,Home Ownership,Debit to Income,Delinquency - two years,Inquires - six months,Open Account,Public Record,Revolving Balance,Revolving Utilities,Total Accounts,Total Received Interest,Total Received Late Fee,Recoveries,Collection Recovery Fee,Collection 12 months Medical,Last week Pay,Accounts Delinquent,Total Collection Amount,Total Current Balance,Total Revolving Credit Limit,Loan Status
0,65087372,10000,32236,12329.362860,59,11.135007,176346.626700,16.284758,1,0,13,0,24246,74.932551,7,2929.646315,0.102055,2.498291,0.793724,0,49,0,31,311301,6619,0
1,1450153,3609,11940,12191.996920,59,12.237563,39833.921000,15.412409,0,0,12,0,812,78.297186,13,772.769385,0.036181,2.377215,0.974821,0,109,0,53,182610,20885,0
2,1969101,28276,9311,21603.224550,59,12.545884,91506.691050,28.137619,0,0,14,0,1843,2.073040,20,863.324396,18.778660,4.316277,1.020075,0,66,0,34,89801,26155,0
3,6651430,11170,6954,17877.155850,59,16.731201,108286.575900,18.043730,1,0,7,0,13819,67.467951,12,288.173196,0.044131,0.107020,0.749971,0,39,0,40,9189,60214,0
4,14354669,16890,13226,13539.926670,59,15.008300,44234.825450,17.209886,1,3,13,1,1544,85.250761,22,129.239553,19.306646,1294.818751,0.368953,0,18,0,430,126029,22579,0

In [24]:
df_num.columns

Index(['ID', 'Loan Amount', 'Funded Amount', 'Funded Amount Investor', 'Term',
       'Interest Rate', 'Home Ownership', 'Debit to Income',
       'Delinquency - two years', 'Inquires - six months', 'Open Account',
       'Public Record', 'Revolving Balance', 'Revolving Utilities',
       'Total Accounts', 'Total Received Interest', 'Total Received Late Fee',
       'Recoveries', 'Collection Recovery Fee', 'Collection 12 months Medical',
       'Last week Pay', 'Accounts Delinquent', 'Total Collection Amount',
       'Total Current Balance', 'Total Revolving Credit Limit', 'Loan Status'],
      dtype='object')

In [23]:
df_num['Term'].nunique()

3

In [28]:
df_num['Delinquency - two years'].nunique()

9

In [29]:
df_num['Inquires - six months'].nunique()

6

In [47]:
df_num['Inquires - six months'].value_counts()

0    60486
1     4558
2     2042
3      320
4       54
5        3
Name: Inquires - six months, dtype: int64

In [31]:
df_num['Public Record'].nunique()

5

In [48]:
df_num['Public Record'].value_counts()

0    62871
1     4133
2      200
4      184
3       75
Name: Public Record, dtype: int64

In [39]:
df_num['Collection 12 months Medical'].nunique()

2

In [49]:
df_num['Collection 12 months Medical'].value_counts()

0    66026
1     1437
Name: Collection 12 months Medical, dtype: int64

In [50]:
df_num['Accounts Delinquent'].value_counts()

0    67463
Name: Accounts Delinquent, dtype: int64

In [45]:
df_num['Loan Status'].nunique()

2

In [51]:
df_test['Accounts Delinquent'].value_counts()

0    28885
1       28
Name: Accounts Delinquent, dtype: int64

In [ ]:
# Base model
df1 =pd.DataFrame({"Loan Status":y_pred}) 

df1.to_csv("Basemodel.csv" , index = False)